table {
  width: 100%;
}
.loading-spiner{

  padding: 25px;


  display: flex;
  align-items: center;
  justify-content: center;

}

:host {
 // display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.espaco{
  padding: 50px;
}
